@model Trails4Health.Models.Questionario

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutBackoffice";
}

<h2>Details</h2>

<div>
    <h4>Questionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataRespostas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataRespostas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionarioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
