@model Trails4Health.Models.Questao

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Questao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestaoID" />
            <div class="form-group">
                <label asp-for="NomeQuestao" class="control-label"></label>
                <input asp-for="NomeQuestao" class="form-control" />
                <span asp-validation-for="NomeQuestao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desactivada" class="control-label"></label>
                <input asp-for="Desactivada" class="form-control" />
                <span asp-validation-for="Desactivada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoResposta" class="control-label"></label>
                <input asp-for="TipoResposta" class="form-control" />
                <span asp-validation-for="TipoResposta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMaximo" class="control-label"></label>
                <input asp-for="ValorMaximo" class="form-control" />
                <span asp-validation-for="ValorMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorMinimo" class="control-label"></label>
                <input asp-for="ValorMinimo" class="form-control" />
                <span asp-validation-for="ValorMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroOpcoes" class="control-label"></label>
                <input asp-for="NumeroOpcoes" class="form-control" />
                <span asp-validation-for="NumeroOpcoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoQuestaoID" class="control-label"></label>
                <select asp-for="TipoQuestaoID" class="form-control" asp-items="ViewBag.TipoQuestaoID"></select>
                <span asp-validation-for="TipoQuestaoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
