<!--MVC faz o render da view em função do modelo: Models/Trilho -->
<!-- Para poder Ligar os elementos HTML ao objecto Model: EX: Models.Trilhos.Nome-->
@model Trilho


@{
    ViewData["Title"] = "Formulario - Inserir";
}

@{
    Layout = "_LayoutBackOffice";
}

<form asp-action="Criar" method="post">
    <div class="panel panel-primary" style="margin-top:2ex">
        <div class="text-center text-lg text-uppercase my-0 panel-heading" style="margin-bottom:1em">
            Criar
            <strong>Trilho</strong>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-lg-4">
                    <!-- asp-for: atributo tag helper: liga os elementos HTML ao objecto Model:  EX: Models.Trilhos.Nome -->
                    <!-- para fazer input tenho usar as classes: "class="form-group" + class="form-control" -->
                    <label asp-for="Nome" class="adjust-margin-left">Nome</label>
                    <input asp-for="Nome" class="form-control" />
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Inicio" class="adjust-margin-left">Inicio</label>
                    <input asp-for="Inicio" class="form-control" />
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Fim" class="adjust-margin-left">Fim</label>
                    <input asp-for="Fim" class="form-control" />
                </div>
                <div class="clearfix"></div>
                @*@*+++++++ adicionar campo Sumario *@
                <div class="form-group col-lg-4">
                    <label class="adjust-margin-left">Sumário</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                @*@*+++++++ faço asp-for para textarea ???? *@
                <div class="form-group col-lg-4">
                    <label asp-for="Detalhes" class="adjust-margin-left">Detalhes</label>
                    <textarea asp-for="Detalhes" class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group col-lg-4">
                    <label asp-for="Distancia" class="adjust-margin-left">Distancia em Km</label>
                    <input asp-for="Distancia" class="form-control" />
                </div>
                @*+++++++++++ faço asp-for para input type="file ???? *@
                <div class="form-group col-lg-4">
                    <label for="exampleInputFile" class="adjust-margin-left">Escolher Foto</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                    <small id="fileHelp" class="form-text text-muted">Escolha a foto que pretende para representar Trilho</small>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
            <!-- to display validation errors to the user -->
            <div asp-validation-summary="All"></div>
            </div>
        </div>
</form>