<!--MVC faz o render da view em função do modelo: Models/GuestResponse -->
<!-- Para poder Ligar os elementos HTML ao objecto Model: EX: Models.GuestResponses.Name-->
<!-- PartyInvites.Models.GuestResponse -> em _viewImports.cshtml incluí: using PartyInvites.Models -->
@model Trilho


@{
    ViewData["Title"] = "Repondez S'il Vous Plait";
}

@{
    Layout = "_LayoutBackOffice";
}

<!-- asp-action="Rsvp":referencía a acção Rsvp  -->
<form asp-action="Rsvp" method="post">
    <div class="panel panel-primary" style="margin-top:2ex;">
        <div class="panel-heading">
            <h3 class="panel-title">Formulario </h3>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <!-- asp-for: atributo tag helper: liga os elementos HTML ao objecto Model: EX: Models.GuestResponses.Name -->
                <!-- <label asp-for="aModel.Name"> é outra forma de chamar campo Name de GuestResponses -->
                <!-- para fazer input tenho usar as classes: "class="form-group" + class="form-control" -->
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Inicio">Inicio:</label>
                <input asp-for="Inicio" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Fim">Inicio:</label>
                <input asp-for="Fim" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Detalhes">Detalhes:</label>
                <input asp-for="Detalhes" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Desativado">Estado Trilho:</label>
                <select asp-for="Desativado" class="form-control">
                    <option value="">Escolha opção</option>
                    <option value="true">Desativado</option>
                    <option value="false">Ativado</option>
                </select>
            </div>
            <!-- to display validation errors to the user -->
            <div asp-validation-summary="All"></div>
        </div>

        <div class="panel-footer">
            <!-- botão submete para esta acção (form) -->
            <button type="submit" class="btn btn-primary">Submit response</button>
        </div>
    </div>
</form>

