@model EstadoTrilho

@{
    ViewData["Title"] = "Editar Estado";
}

@{
    Layout = "_LayoutBackOffice";
}

<br />
<br />

<table class="table table-striped table-bordered table-list ">
    <thead>
        <tr align="center">
            <th>Estado</th>
            <th>Data Inicio</th>
            <th>Data Fim </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @if (Model.EstadoID == 1)
            {
                <td>
                    <div class="form-group col-lg-4">
                        Aberto
                    </div>
                </td>
            }
            else
            {
                <td>Fechado</td>
            }
            <td>
                <div class="form-group col-lg-4">
                    @Model.DataInicio"                   
                </div>
            </td>
            <!-- Se DataFim nula-->
            @*@if (Model.DataFim == new DateTime(0001, 01, 01)) {
                <td> </td>
            }
            else
            {*@
            <td>
                <div class="form-group col-lg-4">                    
                    <input asp-for="@Model.DataFim" class="form-control" />
                </div>
            </td>
            @*}*@
        </tr>
    </tbody>
</table>

<div class="panel-heading" style="margin-top:2em">
    <a asp-action="Editar" asp-route-id="@Model.TrilhoID" class="btn btn-primary">Mudar <strong>Estado</strong></a> |
    <a asp-action="Index" class="btn btn-danger">Registo <strong>Trilhos</strong></a>
</div>