@{
    ViewData["Title"] = "Back Office";
}

@{
    Layout = "_LayoutBackOffice";
}


<hr class="divider">
<h2 class="text-center text-lg text-uppercase my-0" style="margin-top:7em">
    Back
    <strong>Office</strong>
</h2>
