@{
    ViewData["Title"] = "Detalhes Trilho";
}

<!-- Informação Introdutória -->
<div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Trails4Health</div>
<div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">Rua Comercio | 6300 Guarda</div>
<!-- Nav Bar - Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a asp-controller="Home" asp-action="Index" class="nav-link text-uppercase text-expanded"> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item px-lg-4">
                    <a asp-controller="Trilhos" asp-action="Index" class="nav-link text-uppercase text-expanded">Trilhos</a>
                </li>
                <li class="nav-item active px-lg-4">
                    <a asp-controller="Trilhos" asp-action="DetalhesTrilho" class="nav-link text-uppercase text-expanded">Detalhes Trilho</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- container -->
<div class="container">

    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            Loriga
            <strong>Descrição</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="~/images/loriga.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p>Vila de Loriga fica situada na Serra da Estrela, a cerca de 770 metros de altitude.</p>
                <p>Entalhada entre a Penha do Gato com cerca de 1800 metros e a Penha dos Abutres com mais de 1800 metros.</p> 
                <p>Repleta de Trilhos serpenteantes e curvas audaciosas, leva-o a Loriga o pedestre curioso que contemplará embevecido o casario branco para de imediato lhe dar a impressão de que assenta sobre um trono onde a Natureza parece ser soberana num verdadeiro reino de esplendor.</p>
            </div>
        </div>
    </div>
</div>
    <!-- BOXES - Informação -->
    @*<div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            Our
            <strong>Team</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="http://placehold.it/750x450" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            John Smith
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@
<!-- /.container -->